<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render :partial => 'shared/stats', object: current_user, as: :user %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
<div style="width:100%;height:256px;"> <%= image_tag(asset_path("problem-solver-active-256.png"), style:"display:block;
    margin:auto;") %>
</div>
    <h1>Welcome to Solve-Integrate</h1>

    <h2>
     Solve problems on many online judges, Integrate with other problem solvers to learn from them and teach them through hints, explanations, and solutions.
    </h2>
    <h2>Let's find out not only who solves the most, but who has the best solution ;)
    </h2>

    <%= link_to "Join the best problem solvers now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %> 