<div  class="item" onclick="redirect_to('<%=hint_path(hint)%>')">

	<a href="<%= user_path(hint.user) %>">
	  <%= gravatar_for hint.user, size: 50 %>
	</a>
	<h1>
	  <%= link_to hint.user.name, user_path(hint.user) %>
	</h1>
	<!-- <span>
	  <%= pluralize(hint.user.microposts.count, "micropost") %>
	</span> -->
	<h2><%= hint.title %></h2>
	<div  id="rateMe">
		<a class="not-colored" id="avg_hint_<%=hint.id%>_1"></a>
	    <a class="not-colored" id="avg_hint_<%=hint.id%>_2"></a>
	    <a class="not-colored" id="avg_hint_<%=hint.id%>_3"></a>
	    <a class="not-colored" id="avg_hint_<%=hint.id%>_4"></a>
	    <a class="not-colored" id="avg_hint_<%=hint.id%>_5"></a>
	</div>
<hr class="special_hr"/>
</div>

<% if hint.average_ratings > 0 %>
	<script type="text/javascript" language="javascript" >
		hint_id = "avg_hint_<%=hint.id%>_<%= hint.average_ratings %>";
		// alert(hint_id);
		my_this = document.getElementById(hint_id);

		preSet["avg_hint_<%=hint.id%>_"] = my_this;
		
		off(my_this);
	</script>
<% end %>

