<div class="item" onclick="redirect_to('<%=explanation_path(explanation)%>')">

<a href="<%= user_path(explanation.user) %>">
  <%= gravatar_for explanation.user, size: 50 %>
</a>
<h1>
  <%= link_to explanation.user.name, user_path(explanation.user) %>
</h1>
<!-- <span>
  <%= pluralize(explanation.user.microposts.count, "micropost") %>
</span> -->
	<h2><%= explanation.title %></h2>

	<div  id="rateMe">
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_1"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_2"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_3"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_4"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_5"></a>
	</div>

</div>
<hr class="special_hr"/>

<% if  explanation.average_ratings > 0 %>
<script type="text/javascript" language="javascript" >
	exp_id = "avg_explanation_<%=explanation.id%>_<%= explanation.average_ratings %>";

	my_this = document.getElementById(exp_id);

	preSet["avg_explanation_<%=explanation.id%>_"] = my_this;
	
	off(my_this);
</script>
<% end %>

