<hr class="special_hr"/>
<div class="item">

<a href="<%= user_path(explanation.user) %>">
  <%= gravatar_for explanation.user, size: 50 %>
</a>

<!-- <span>
  <%= pluralize(explanation.user.microposts.count, "micropost") %>
</span> -->

	<div class="delete_div">
	  <% if current_user?(explanation.user) %>
	    <%= link_to image_tag(asset_path("trash-black.png")), explanation, method:  :delete,
	                                     confirm: "You sure?", title:"Delete"%>
	  <% end %>
	</div>

	<div class="delete_div">

	  <% if current_user?(explanation.user) %>
	    <%= link_to image_tag(asset_path("edit-icon.png")), edit_explanation_path(explanation), title:"Edit"%>
	  <% end %>
	</div>
<% if explanation.available_for?(current_user.id) %>
	<i class="foundicon-unlock" style="color:green;float:right;margin-top:17px;font-size:32px;margin-left:4px;margin-right:4px;" title="Unlocked"></i>
<% else %>
	<i class="foundicon-lock" style="color:grey;float:right;margin-top:17px;font-size:32px;margin-left:4px;margin-right:4px;" title="Locked"></i>
<% end %>

<h2><%= link_to "Explanation", explanation_path(explanation) , style:"float:none"%> for <%= link_to explanation.problem.name.first(16) + (explanation.problem.name.length > 16 ? "..." : "") , problem_path(explanation.problem), style:"float:none" %></h2>


	<div  id="rateMe">
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_1"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_2"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_3"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_4"></a>
	    <a class="not-colored" id="avg_explanation_<%=explanation.id%>_5"></a>
	</div>

</div>



<% if  explanation.average_ratings > 0 %>
<script type="text/javascript" language="javascript" >
	exp_id = "avg_explanation_<%=explanation.id%>_<%= explanation.average_ratings %>";

	my_this = document.getElementById(exp_id);

	preSet["avg_explanation_<%=explanation.id%>_"] = my_this;
	
	off(my_this);
</script>
<% end %>

