<hr class="special_hr"/>
<div class="item">

<a href="<%= user_path(solution.user) %>">
  <%= gravatar_for solution.user, size: 50 %>
</a>
<%= image_tag asset_path(solution.language.logo), title:solution.language.name , style:"float:left;margin-top:4px;"%>

<!-- <h1>
  <%= link_to solution.user.name, user_path(solution.user) %>
</h1> -->
<!-- <span>
  <%= pluralize(solution.user.microposts.count, "micropost") %>
</span> -->

	<div class="delete_div">
	  <% if current_user?(solution.user) %>
	    <%= link_to image_tag(asset_path("trash-black.png")), solution, method:  :delete,
	                                     confirm: "You sure?", title:"Delete"%>
	  <% end %>
	</div>
	<div class="delete_div">

	  <% if current_user?(solution.user) %>
	    <%= link_to image_tag(asset_path("edit-icon.png")), edit_solution_path(solution), title:"Edit"%>
	  <% end %>
	</div>
	<div  id="rateMe">
	    <a class="not-colored" id="avg_solution_<%=solution.id%>_1"></a>
	    <a class="not-colored" id="avg_solution_<%=solution.id%>_2"></a>
	    <a class="not-colored" id="avg_solution_<%=solution.id%>_3"></a>
	    <a class="not-colored" id="avg_solution_<%=solution.id%>_4"></a>
	    <a class="not-colored" id="avg_solution_<%=solution.id%>_5"></a>
	</div>


<h2><%= link_to "Solution", solution_path(solution) , style:"float:none"%> for <%= link_to solution.problem.name.first(16) + (solution.problem.name.length > 16 ? "..." : "") , problem_path(solution.problem), style:"float:none" %></h2>




<% if solution.private %>
	<i class="foundicon-minus", style="color:red;float:right;margin-top:17px;font-size:20px;margin-left:4px;margin-right:4px;" title="private"></i>
<% else %>
	<i class="foundicon-globe", style="color:green;float:right;margin-top:17px;font-size:20px;margin-left:4px;margin-right:4px;" title="public"></i>
<% end %>

<% if solution.accepted %>
	<i class="foundicon-checkmark", style="color:green;float:right;margin-top:17px;font-size:20px;" title="Accepted"></i>
<% else %>
	<i class="foundicon-remove", style="color:red;float:right;margin-top:17px;font-size:20px;" title="Wrong answer"></i>
<% end %>

</div>


<% if  solution.average_ratings > 0 %>
<script type="text/javascript" language="javascript" >
	exp_id = "avg_solution_<%=solution.id%>_<%= solution.average_ratings %>";

	my_this = document.getElementById(exp_id);

	preSet["avg_solution_<%=solution.id%>_"] = my_this;
	
	off(my_this);
</script>
<% end %>
