<div class="delete_div">
	  <% if current_user?(@solution.user) %>
	    <%= link_to image_tag(asset_path("trash-black.png")), @solution, method:  :delete,
	                                     confirm: "You sure?", title:"Delete"%>
	  <% end %>
	</div>
	<div class="delete_div">

	  <% if current_user?(@solution.user) %>
	    <%= link_to image_tag(asset_path("edit-icon.png")), edit_solution_path(@solution), title:"Edit"%>
	  <% end %>
	</div>
<h1><%= link_to "Solution", solution_path(@solution) %> for <%= link_to "#{@solution.problem.name}", problem_path(@solution.problem) %></h1>


<h2>by <%= link_to "#{@solution.user.name}", user_path(@solution.user) %></h2>
<% if !@solution.private %>
<div id="share-buttons"  style="display:block;margin:0 auto 0 auto;">
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u=<%="#{request.protocol}#{request.host}#{solution_path(@solution)}"%>" target="_blank"><img src="<%=asset_path("facebook.png")%>" alt="Facebook" /></a>
	 
	<!-- Twitter -->
	<a href="http://twitter.com/share?url=<%="#{request.protocol}#{request.host}#{solution_path(@solution)}"%>&text=<%="Check out this solution "%>" target="_blank"><img src="<%=asset_path("twitter.png")%>" alt="Twitter" /></a>
	 
	<!-- Google+ -->
	<a href="https://plus.google.com/share?url=<%="#{request.protocol}#{request.host}#{solution_path(@solution)}"%>" target="_blank"><img src="<%=asset_path("google.png")%>" alt="Google" /></a>
</div>
<% end %>
<h3>Written in <%= @solution.language.name %></h3>
<% if @solution.accepted %>
<p class="accepted_color">This solution got accepted from the judge</p>
<% else %>
<p class="wrong_answer_color">This solution got a wrong answer reply from the judge</p>
<% end %>
<div  id="rateMe">
    <a class="not-colored" id="avg_1"></a>
    <a class="not-colored" id="avg_2"></a>
    <a class="not-colored" id="avg_3"></a>
    <a class="not-colored" id="avg_4"></a>
    <a class="not-colored" id="avg_5"></a>
</div>
<span  id="reviews_cnt" style="line-height:25px;margin-left:6px;"></span>
<% if @solution.private %>
<p class="wrong_answer_color">This solution is private</p>
	<%= form_for(@solution) do |f| %>
		<%= f.hidden_field :private, value:false  %>
		<%= f.label "Get 50 points for making it public"%>
	  <%= f.submit "Make public", :class => "btn btn-large btn-primary" %>
	  
	<% end %>
<% else %>
<p class="accepted_color">This solution is public</p>

<% end %>
<pre style="margin-top:10px;" class="prettyprint lang-<%= @solution.language.name.sub("++","pp").downcase %>">
  <%= @solution.code %>
</pre>


<% if signed_in? %>
	<p style="float:left;clear:both;">Your rating: </p>
	<div style="float:left;clear:none;" id="rateMe" title="Rate Me...">
	    <a class="not-colored" onclick="rateIt(this)" id="<%= @solution.id %>_1" title="very bad" onmouseover="rating(this)" onmouseout="off(this)"></a>
	    <a class="not-colored" onclick="rateIt(this)" id="<%= @solution.id %>_2" title="bad" onmouseover="rating(this)" onmouseout="off(this)"></a>
	    <a class="not-colored" onclick="rateIt(this)" id="<%= @solution.id %>_3" title="Good" onmouseover="rating(this)" onmouseout="off(this)"></a>
	    <a class="not-colored" onclick="rateIt(this)" id="<%= @solution.id %>_4" title="Pretty Good" onmouseover="rating(this)" onmouseout="off(this)"></a>
	    <a class="not-colored" onclick="rateIt(this)" id="<%= @solution.id %>_5" title="Awesome" onmouseover="rating(this)" onmouseout="off(this)"></a>
	</div>
<% end %>

<div class="fb-comments" data-href="<%=  "#{request.protocol}#{request.host}:#{request.port}#{solution_path(@solution)}"%>" data-width="940px" data-num-posts="10"></div>

<% if signed_in? %>
	<%= form_for(@solution.reviews.build(user:current_user),remote: true, :html => {id: "rating_form_#{@solution.id}", style:"margin-bottom:0px;"}) do |f| %>
	  <div><%= f.hidden_field :reviewable_id %><%= f.hidden_field :reviewable_type %><%= f.hidden_field :user_id %><%= f.hidden_field :stars, id:"rating_#{@solution.id}" %></div>

	<% end %>

	<% if @solution.reviews.exists?(user_id: current_user.id) %>
			<script type="text/javascript" language="javascript" >
				sol_id = "<%= @solution.id %>_<%= @solution.reviews.find_by_user_id(current_user.id).stars %>";
				my_this = document.getElementById(sol_id);
				preSet["<%= @solution.id %>_"] = my_this;
				off(my_this);

			</script>
	<% end %>	
<% end %>		

<% if  @solution.average_ratings > 0 %>
<script type="text/javascript" language="javascript" >
		$("#reviews_cnt").html("by <%= pluralize @solution.reviews.count, 'user' %>" );
	sol_id = "avg_<%= @solution.average_ratings %>";

	my_this = document.getElementById(sol_id);

	preSet["avg_"] = my_this;
	
	off(my_this);
</script>
<% else %>
	<script type="text/javascript" language="javascript" >
		$("#reviews_cnt").html("Not Rated");
	</script>
<% end %>


