<footer class="footer">
  <small>
    <a href="/">Solve ... Integrate</a>
    by Ahmed Farag
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>


 <div class="download_for_chrome" ><%= link_to image_tag(asset_path("chrome-logo.png")), chrome_extension_path, title: "Highly Recommended!!" %>
  <%= link_to "chrome<br/>extension".html_safe, chrome_extension_path, title: "Highly Recommended!!" %>
 </div>